# Default options for commands
alias mkdir='mkdir -pv'
alias du='du -ch'
alias df='df -H'
alias mv='mv -vi'
alias cp='cp -vi'
alias ln='ln -vi'

# File listing
alias ls='ls --color=auto --group-directories-first'
alias l='ls -h1'
alias ll='ls -lh'
alias la='ls -Ah1'
alias lla='ls -lAh'
alias dir='dir --color=auto'

# CLI application launching
alias tmux='tmux -2'

# Git alias commands
alias gd='git diff'
alias ga='git add'
alias gaa='git add --all'
alias gc='git commit'
alias gcm='git commit -m'
alias GC='git add --all && git commit'
alias GCM='git add --all && git commit -m'
alias gch='git checkout'
alias gst='git status'
alias glg='git log --graph'
alias glgs='git log --graph --stat'
alias glgp='git log --graph --patch'

# Tree command should always show directories first
alias tree='tree --dirsfirst --noreport'

