# Default options for commands

alias l='ls -h1 --color=always'
alias ll='ls -lh --color=always'
alias la='ls -Ah1 --color=always'
alias lla='ls -lAh --color=always'

# CLI application launching
alias tmux='tmux -2'

# Disk usage
alias dfh='df -h ~'
alias dfr='df -h /'

# Git alias commands
alias g='git'
alias gd='git diff'
alias ga='git add'
alias gaa='git add --all'
alias gb='git branch'
alias gba='git branch --all'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --all'
alias gcam='git commit --all -m'
alias gch='git checkout'
alias gs='git status -bs -u --ahead-behind'
alias gst='git status'
alias glsg='git log --oneline --graph'
alias glsgs='git log --oneline --graph --stat'
alias glg='git log --graph'
alias glgs='git log --graph --stat'
alias glgp='git log --graph --patch'
alias gpull='git pull'
alias gpush='git push'
alias gf='git fetch'
alias gfp='git fetch --prune'
alias gfap='git fetch --all --prune'
alias gsw='git switch'
alias gsc='git switch -c'

# Docker
#alias docker='colima nerdctl --'
alias dkr='docker'
alias dc='docker compose'
alias dcp='docker container prune'
alias dis='docker images'
alias dvs='docker volume ls'
alias dvp='docker volume prune'
alias disa='docker images -a'
alias dcla='docker container list --all'
alias dpsa='docker ps --all'
alias dcrit='docker container run --rm -it'
alias dib='docker image build --force-rm --rm'

# Terraform
alias tf='terraform'

# Kubectl
alias kc='kubectl'

# Ruby
alias rb='ruby'
