[include]
  path = personal.gitconfig

# [includeIf "gitdir/i:$(prefix)/Users"]
[include]
  path = macos.gitconfig

[includeIf "gitdir/i:C:/Users/"]
  path = windows.gitconfig

[pull]
  rebase = true

[core]
  autocrlf = false
  attributesfile = .gitattributes
  eol = LF

[init]
  defaultBranch = default

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
  format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[tag]
  gpgSign = true

[commit]
  gpgSign = true
