#window {
  background: #282a36;
  font-size: 16px;
  font-family: Ubuntu;
}

#outer-box {
  border: 5px solid #8be9fd;
}

#inner-box {
  border-top: 2px solid #ffb86c;
}

#input {
  background: #44475a;
  color: #f8f8f2;
  border: none;
}

#scroll {
  border: 0;
}

#entry {
  background: #282a36;
  border-bottom: 1px solid #50fa7b;
  padding: 4px 12px;
}
#entry:selected {
  background: #44475a;
}

#text {
  color: #f8f8f2;
  padding: 8px;
}
